<ion-header>
  <ion-toolbar color="secondary">

    <ion-fab-button color="primary" slot="end" size="small" (click)="fecharModal()">
      <ion-icon name="close-circle"></ion-icon>
    </ion-fab-button>

    <ion-title>{{atualizar ? 'Atualizar Produto': 'Nova Produto'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #f="ngForm" (ngSubmit)="Adicionar(f)">
    <ion-item>
      <ion-label position="floating">Nome do Produto: </ion-label>
      <ion-input [(ngModel)]="dados.nome" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Produto: </ion-label>
      <ion-input [(ngModel)]="dados.pontos" name="pontos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pontos: </ion-label>
      <ion-input [(ngModel)]="dados.quantidade" name="quantidade"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">Foto: </ion-label>
      <ion-input [(ngModel)]="dados.foto" name="foto"></ion-input>
    </ion-item> -->
    <ion-button fill="outline" expand="block" type="submit" color="secondary">{{atualizar ? 'Atualizar': 'Adicionar'}}
    </ion-button>

  </form>
</ion-content>
