<ion-header [translucent]="true">
  <ion-toolbar color= "secondary">
    <ion-menu-button autoHide slot="start" color="primary"></ion-menu-button>


      <ion-fab-button color="primary" slot="end" size="small" (click)="novaTarefa()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>


    <ion-title>
      Tarefas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

<!-- ---------------------------Menu Lateral---------------------- -->

<app-menu></app-menu>


  <!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-img style="width: 70px; height: 70px;"
           src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png"></ion-img>
           &nbsp;&nbsp;&nbsp;Nome do Utilizador</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-router-outlet id="main">


  </ion-router-outlet> -->

<!-- ---------------------------Menu Lateral---------------------- -->



  <ion-list>
    <ion-item-sliding *ngFor="let t of tarefa" >

      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="remover(t.id)">Apagar</ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="atualizar(t)">Atualizar</ion-item-option>
      </ion-item-options>


      <ion-item>
        <!-- <ion-thumbnail slot="start">
          <ion-img src="{{p.foto}}"></ion-img>
        </ion-thumbnail> -->

        <ion-label>
          <ion-text>
            {{t.nome}}
          </ion-text>
          <p>{{t.descricao}}</p>
          <p>{{t.pontos}} pts</p>
        </ion-label>
        <ion-item>
          <ion-toggle slot="end" ></ion-toggle>
        </ion-item>
        <!-- <ion-checkbox slot="end" [(ngModel)]="tarefa"></ion-checkbox> -->
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
